version: 2
enable-beta-ecosystems: true  # Required to use the pre-commit ecosystems

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10

  - package-ecosystem: "pip"
    directory: "/"  # Location of package manifests
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10

  - package-ecosystem: "pre-commit"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      pre-commit:
        patterns: ["*"]
